.hero {
  font-family: $font-jura;
  color: $color-text;
  padding-top: 230px;
  &-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 165px;
  }
  &-left {
    &-title {
      font-size: 100px;
      font-weight: 700;
      line-height: 118px;
    }
    &-text {
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
      margin-top: 50px;
    }
    &-number {
      margin-top: 50px;
      display: flex;
      gap: 47px;
    }
  }

  &-box {
    &-number {
      font-weight: 400;
      font-size: 50px;
      line-height: 60px;
      font-family: $font-jura;
    }
    &-title {
      display: block;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      font-family: $font-Inter;
      margin-top: 15px;
    }
  }
  &-right {
    position: relative;
    &-img {
      z-index: 1111;
      position: relative;
      width: 526px;
      height: 614px;
    }
  }
  &-right::before {
    position: absolute;
    content: "";
    top: -50px;
    background-image: url("/images/line.png");
    width: 100%;
    height: 100%;
    z-index: -11;
  }
  @media screen and (min-width: 1024px) and (max-width: 1335px) {
    padding-top: 100px;
    &-main {
      gap: 10px;
    }
  }
}
