.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
  font-family: $font-jura;
  font-size: 25px;
  line-height: 29px;

  &-link {
    color: $color-text;
  }

  &-item {
    position: relative;
  }

  &-item::before {
    content: "";
    background-color: $color-text;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 3px;
    border: none;
    border-radius: 15px;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
    transform-origin: left;
  }
  &-item:hover::before {
    transform: scaleX(1);
    // transform-origin: left;
  }
}
